@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/fonts/inter.ttf") format(".ttf");
  font-weight: 500 700;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/raleway.ttf") format(".ttf");
  font-weight: 400 700;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto400.ttf") format(".ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto700.ttf") format(".ttf");
  font-weight: 700;
  font-display: swap;
}

::selection {
  background: #79ffe1;
  color: black;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #333333;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  background: #29bc9b;
  border-radius: 4px;
}

@layer components {
  .title {
    @apply font-bold leading-none uppercase font-raleway text-whiteDimmed text-titleSmall md:text-titleMedium lg:text-titleLarge
    md:tracking-[-0.06rem] lg:tracking-[0.08rem];
  }

  .leading {
    @apply text-leadingSmall md:text-leadingMedium lg:text-leadingLarge leading-[1.4] font-normal font-raleway text-grey3;
  }

  .content {
    @apply text-contentSmall md:text-contentMedium lg:text-contentLarge font-roboto leading-[1.6] text-grey4;
  }
}
